.container {
  margin: 20px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.controls button {
  margin-left: 5px;
}

.cards-display {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 300px;
  margin: 10px;
}